# Bun / Node
node_modules
npm-debug.log
bun-debug.log
yarn-debug.log
yarn-error.log

# Development
.git
.gitignore
.env
.env.local
.env.*.local
.dockerignore
Dockerfile
compose.yml
docker-compose.yml
README.md

# Project specific
tests
docs
*.md
.vscode
.idea
coverage
dist
build

# OS specific
.DS_Store
Thumbs.db